@using System.Web.Mvc.Html
@model ToDoList.Models.Task

<div class="single-task task-title">

    <h2 class="task-title">
        @Model.Title
    </h2>

    <div class="task-image">
        <img alt="Task Image" width="400" height="400" src="@Model.ImageUrl"/>
    </div>

    <p class="task-description">
        @if (ViewBag.Desc)
        {
            @Model.Description
        }
        else if (Model.Description.Length > 45)
        {
            @Model.Description.Substring(0, 44)<text>...</text>
        }
        else
        {
            @Model.Description
        }

    </p>

    <div class="row">
        <div class="col-md">
            @Html.ActionLink("Edit", "Update", "Task", new {id = Model.Id}, new {@class = "btn btn-primary btn-block"})
        </div>
        @if (!ViewBag.Desc)
        {
            <div class="col-md">
                @Html.ActionLink("More info...", "Read", "Task", new {id = Model.Id}, new {@class = "btn btn-default btn-block btn-info"})
            </div>
        }
        else
        {
            <div class="col-md">
                @Html.ActionLink(" ", "Delete", "Task", new {id = Model.Id}, new {@class = "btn btn-default btn-block btn-danger glyphicon glyphicon-remove"})
            </div>
            <div class="col-md">
                @Html.ActionLink("Back", "Index", "Task", new { @class = "btn btn-default btn-block btn-info" })
            </div>
        }
        
    </div>
</div>
