<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Привет! :)</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="/Content/Site.min.css"/>
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />
</head>
<body ng-app="taskApp">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Ангуляр клиент для тасок", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Home", "Index", "Home", new {area = ""}, null)</li>*@
            </ul>
        </div>
    </div>
</div>
    <!--Основной контент получаемые с ангуляра тут-->
<div  class="content">
    <div ng-view>
        
    </div>
</div>

    <!--Рендер скриптов-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/app/Scripts/app.js"></script>
    <script src="~/app/Controllers/taskListController.js"></script>
    <script src="~/app/Controllers/taskDetailController.js"></script>
</body>
</html>

